<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="daoEval">
                <expression>logger.contains("dao")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss}[%thread] %-5level %logger.%M:%L - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="daoEval">
                <expression>logger.contains("dao")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <file>log/portal.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/portal.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistoty>30</maxHistoty>
        </rollingPolicy>
        <encoding charset="utf-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss|SSS} [%t] %-5level %logger.%M.%L %msg%n</pattern>
        </encoding>
    </appender>
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/portalError.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/portalError.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistoty>30</maxHistoty>
        </rollingPolicy>
        <encoding charset="utf-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss|SSS} [%t] %-5level %logger.%M.%L %msg%n</pattern>
        </encoding>
    </appender>

    <encoder charset="UTF-8"/>

    <logger name="cn.whm" level="DEBUG"/>

    <logger name="org.activiti" level="ERROR"/>
    <logger name="jdbc.audit" level="ERROR"/>
    <logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="jdbc.sqltiming" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="errorLog"/>
    </root>

</configuration>
